h2 {
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.div-center {
  margin: auto;
  text-align: center;
}

.form-control:nth-child() {
  border-radius: 10px;
}

.myinput {
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  margin: 15px auto;
  border: none;
  outline: none;
  transition: all 0.8s;
}

.myinput:hover, .myselector:hover {
  letter-spacing: 0.05em;
}

.myselector {
  background: transparent;
  margin: auto;
  outline: none;
  border: none;
  width: 100%;
  transition: all 0.8s;
}

.mybutton {
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  transition: all 1s;
}

.mybutton:focus,
.mybutton:hover,
.mybutton:active {
  background-color: #fff;
  color: #000;
  outline: none;
}